#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARDUSIMPLE_NETLINK
	bool "Network link monitor"
	default n
	depends on NETINIT_THREAD && NETDEV_PHY_IOCTL && NET_UDP
	---help---
		By default the net initialization thread will bring-up the network
		then exit, freeing all of the resources that it required.  This is a
		good behavior for systems with limited memory.

		If this option is selected, however, then the network initialization
		thread will persist forever; it will monitor the network status.  In
		the event that the network goes down (for example, if a cable is
		removed), then the thread will monitor the link status and
		attempt to bring the network back up.  In this case the resources
		required for network initialization are never released.

if ARDUSIMPLE_NETLINK

config ARDUSIMPLE_NETLINK_SIGNO
	int "Notification signal number"
	default 32
	depends on ARCH_PHY_INTERRUPT
	---help---
		The network monitor logic will receive signals when there is any
		change in the link status.  This setting may be used to customize
		that signal number in order to avoid conflicts.

config ARDUSIMPLE_NETLINK_RETRYMSEC
	int "Network bring-up retry period (msec)"
	default 2000
	depends on ARCH_PHY_INTERRUPT
	---help---
		When the network is down, the initialization thread will periodically
		try to bring the network up.  This can be a time consuming operation
		so is done only periodically with that period specified by this
		selection in milliseconds.

config ARDUSIMPLE_NETLINK_PROGNAME
	string "Program name"
	default "netlink"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config ARDUSIMPLE_NETLINK_PRIORITY
	int "Task priority"
	default 100

config ARDUSIMPLE_NETLINK_STACKSIZE
	int "Stack size"
	default DEFAULT_TASK_STACKSIZE

endif
