#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GMTCNT_SOEM
	bool "EtherCAT™ applications"
	default n
	depends on RTLABS_SOEM
	---help---
		Enable application(s) for EtherCAT™ protocol.

if GMTCNT_SOEM

config GMTCNT_SOEM_SDXEC
	bool "SDxEC servo control"
	default n

config GMTCNT_SOEM_PRIORITY
	int "Task priority"
	default 225

config GMTCNT_SOEM_STACKSIZE
	int "Task stack size"
	default 8192

endif # GMTCNT_SOEM
